html 
    head 
        link
    body 
        button Click me to display a list of book genres!
        p
        script.
            
            const btn = document.querySelector('button');
            const text = document.querySelector('p');
            const mykey = 

            //Fetch a list of best selling books from the NYT Books API.
            btn.addEventListener('click', async (e) => {
            let response = fetch(
                'https://api.nytimes.com/svc/books/v3/lists/names.json?api-key=' +
                mykey,
                {
                method: 'GET',
                headers: {
                    'Accept': 'application/json'
                },
                }
            )
                .then((respone) => respone.json())
                .then((data) => {
                //Append listings to the DOM.
                console.log(data);
                data.results.forEach (item => {
                    text.innerHTML += `<div> ${item.display_name} </div>`;
                })
                })
                .catch((error) => console.log(error));
            });
